@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inknut Antiqua', serif;
}

header {
  background-color: #0056B0;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}
header h1 {
  font-size: 1.5em;
  margin: 0% 12% 0% 12%;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

.adnu {
  margin-left: 30px;
  font-size: 15px;
}

.exchange-hub {
  font-size: 20px;
  margin-left: 39%;
}

.BG {
  background-position: center;
  background-attachment: fixed; 
  justify-content: center;
  width: 100vw;
  height: 100vh; 
  display: flex;
  align-items: center;
  background-size: cover; 
}

.container {
  background-color: rgba(240, 255, 255, 0.836);
  background-attachment: fixed;
  height: 60vh;
  width: 50vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.input-wrapper {
  position: relative;
  display: flex;
  justify-content: center; 
  margin-bottom: 20px;
}

.input-wrapper i {
  position: absolute;
  left: 10px;  
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
}

.input input {
  border-radius: 5px;
  border: solid 1px black;
  padding-left: 40px; 
  font-size: 15px;
  font-weight: 300;
  height: 45px;
  width: 25rem;
}

.logo {
  height: 20vh;
  width: 10vw;
  margin-bottom: 20px; 
}

.login {
  background-color: blue;
  color: white;
  border-radius: 20px;
  width: 13rem;
  cursor: pointer;
  text-align: center; 
  font-size: 14px;
  margin-top: 10px;
}

.forgetpass {
  font-size: medium;
  font-size: 14px;
  align-items: center;
}

#splash-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  animation: fadeIn 1s ease-in-out forwards;
}

.signup_button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.google {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  background-color: blue;
  border-radius: 50px;
  width: 18rem;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main-content {
  display: none;
  opacity: 0;
  animation: fadeInContent 1s ease-out forwards; 
}

@keyframes fadeInContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
